.main {
    background-color: #fff;
    padding: 30px;
    margin: 50px auto;
    max-width: 500px;
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.707);
}

.main h1 {
    font-size: 33px;
    text-align: center;
}

.editAndDelete {
    position: absolute;
    right: 3px;
}

.tarefas li .edit {
    margin-right: 15px;
    color: black;
    cursor: pointer;
}

.tarefas li .delete {
    color: rgb(243, 94, 78);
    cursor: pointer;
}


